{{ define "bodyclass" }}page news{{ end }}
{{ define "main" }}
<div class="blocks">
    <h2>News</h2>
    {{ $paginator := .Paginate .Pages }}
    {{ range $paginator.Pages }}
    <article class="post-summary">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <div class="post-meta">
            {{ with .Params.author }}<span class="author">{{ . }}</span>{{ end }}
            <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
        </div>
        {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
    </article>
    {{ end }}
    <div class="browse-controls">
        <nav class="pagination">
            {{ template "_internal/pagination.html" . }}
        </nav>
    </div>
</div>
{{ end }}
