{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ partial "original-source.html" . }}
<div id="show">
{{- $hasImage := false -}}
{{- range .Params.files -}}{{- if and .mime (hasPrefix .mime "image/") -}}{{- $hasImage = true -}}{{- end -}}{{- end -}}
{{ with .Params.files }}
	<div id="main-image">
		{{ range . }}
			{{ $sub := "" }}{{ with .mime }}{{ $sub = replace . "/" "-" }}{{ end }}
			{{ if and .mime (hasPrefix .mime "image/") }}
				<div class="item-file {{ $sub }}"><a class="download-file" href="{{ .url }}"><img class="full" src="{{ or .fullsize .url }}" alt="{{ .original_filename }}" title="{{ .original_filename }}"></a></div>
			{{ else }}
				<div class="item-file {{ $sub }}"><a class="download-file" href="{{ .url }}">{{ or .original_filename .url }}</a></div>
			{{ end }}
		{{ end }}
	</div>
{{ end }}

	<div id="metadata">
		{{ with .Params.collections }}
			<h2>Collection</h2>
			{{ range . }}
				{{ $c := site.GetPage (printf "/collections/%s" .) }}
				<div><a href="{{ if $c }}{{ $c.RelPermalink }}{{ else }}{{ (printf "collections/%s/" .) | relURL }}{{ end }}">{{ if $c }}{{ $c.Title }}{{ else }}{{ . }}{{ end }}</a></div>
			{{ end }}
		{{ end }}

		{{ with .Params.dublin_core.Description }}
			{{ range . }}<p>{{ if .html }}{{ .text | safeHTML }}{{ else }}{{ .text }}{{ end }}</p>{{ end }}
		{{ end }}

		{{ with .Params.tags }}
			<div class="tags"><ul class="tags">
				{{ range . }}<li><a href="{{ (printf "tags/%s/" (. | urlize)) | relURL }}" rel="tag">{{ . }}</a></li> {{ end }}
			</ul></div>
		{{ end }}

		<div id="item-citation" class="element">
			<h3>Citation</h3>
			<div class="element-text">&#8220;{{ .Title }},&#8221; <em>{{ site.Title }}</em>, accessed {{ now.Format "January 2, 2006" }}, <span class="citation-url">{{ site.Params.origin }}/items/show/{{ .Params.id }}</span>.</div>
		</div>

		{{ with .Params.geo }}
			{{ if or (ne (float .lat) 0.0) (ne (float .lng) 0.0) }}
				{{ $id := $.Params.id }}
				<div id="geolocation"><h2>Geolocation</h2>
					<div id="item-map-{{ $id }}" class="map geolocation-map" style="width: 600px; height: 300px"></div>
					<script>
					window.addEventListener('load', function () {
						var m = L.map('item-map-{{ $id }}').setView([{{ .lat }}, {{ .lng }}], {{ or .zoom 12 }});
						L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; OpenStreetMap contributors'}).addTo(m);
						L.marker([{{ .lat }}, {{ .lng }}]).addTo(m);
					});
					</script>
				</div>
			{{ end }}
		{{ end }}
	</div>

	<div id="pagination-bottom" class="pagination">
		{{ with .PrevInSection }}<li id="previous-item" class="previous"><a href="{{ .RelPermalink }}">Previous Item</a></li>{{ end }}
		{{ with .NextInSection }}<li id="next-item" class="next"><a href="{{ .RelPermalink }}">Next Item</a></li>{{ end }}
	</div>
</div>
{{ end }}
