/* print styles for cyh */
/* based on alistapart article going to print */

body {background: white; font-size: 12pt; font-family: Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif; color:#111111;} /*explicitly sets background to white and font units to points for print, uses serif font, declares color to be dark gray */

/* Headings */
h1, .featured-box h1,.website-review h1, .primary-source h1, .case-study h1, .teaching-module h1 
{font-size: 16pt; font-weight:bold;text-transform:none;}
h2, .featured-box h2, .website-review h2, .primary-source h2, .case-study h2, .teaching-module h2  
{font: 16pt; font-weight: normal; font-style:italic;}
	h2.printOnly {display: block; font-size: 10pt; font-style:normal; text-transform: uppercase; color:#666666; margin-top: 10pt;margin-bottom: -10pt;}
h3 {font-size: 14pt;}
h4 {font-weight:bold;font-size: 12pt;} /*styles the heading for the sidebar nav ul */
h5 {font: 10pt Verdana, Geneva, sans-serif; font-weight:bold;font-style:italic;text-transform:uppercase;}
/* misc elements  */
blockquote {margin:10pt 0 0 0;font-style:italic;}
ul.printOnly, ol.printOnly {margin-left: 0;}		
#header img #print-logo {display:block;width: 390px; height: 119px;background:#fff;} 
/* prints the CYH logo; in screen css file, it is set to display:none; 
img is inserted in header.php */

/*  stuff you don't want to print   */
#header #search-wrap, #header #simple-search,
#primary-nav, 
#footer, 
#header #nav,
#header h1
{display:none;}

/* unfloat large floated elements to prevent Mozilla-Gecko browsers from not printing more than first page  */
#show #primary, #show #secondary, #section_start #primary, #section_start #secondary
{float: none !important; overflow:visible;}

/* reset margin and padding of content so text will fill printable area */
#content, #content .center-div {width: auto; border: 0; margin: 0; padding:0; float:none !important;}

/* style links */
a, a:link, a:visited, a:hover, a:active {text-decoration: underline; font-weight:normal;color:#333333;font-size: 11pt;}  
/* a:after {font-size: 90%; content:" (" attr(href) ") "; }  this prints out the urls immediately after; not supported by IE5-6; superseded by footnotelinks function jboggs installed 6-11-08- 
not using this function as of 6-17-08 per KS request */

#secondary, #item-info {border-top: 1pt solid #333; margin-top: 10pt;padding-top: 20pt;} /* sets off the sidebar at end of print out by putting a border above it */