<div class="wrapper">
    <p>Papers of the War Department is a project of the <a href="http://chnm.gmu.edu">Roy Rosenzweig Center for History and New Media</a>, <a href="http://www.gmu.edu">George Mason University</a> with funding from the <a href="http://www.archives.gov/nhprc/">National Historical Publications and Records Commission</a>, the <a href="https://www.acls.org/">American Council of Learned Societies</a>, and the <a href="http://www.neh.gov/">National Endowment for the Humanities</a>.</p>
    <p>Descriptive metadata and transcriptions are available for use under the terms of the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons by Attribution License (4.0)</a>. Permissions for use of the document images are held by their original repository.</p>
    <div class="logos">
        <a href="http://rrchnm.org" id="rrchnm-logo" aria-label="Roy Rosenzweig Center for History and New Media">RRCHNM</a>
        <a href="https://www.acls.org/" id="acls-logo" aria-label="American Council of Learned Societies">ACLS</a>
        <a href="http://www.archives.gov/nhprc/" id="nhrpc-logo" aria-label="National Historical Publications and Records Commission">NHRPC</a>
        <a href="http://www.neh.gov/" id="neh-logo" aria-label="National Endowment for the Humanities">NEH</a>
    </div>
</div>
