{{ define "bodyclass" }}item browse{{ end }}
{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ .Content }}
{{ $paginator := .Paginate .Pages }}
<div class="browse-controls">
    <nav class="pagination" aria-label="Pagination">
        {{ template "_internal/pagination.html" . }}
        <span class="row-count">{{ len $paginator.Pages }} of {{ $paginator.TotalNumberOfElements }}</span>
    </nav>
</div>
<ul class="resource-list">
    {{ range $paginator.Pages }}
    <li class="item resource">
        <div class="item-meta">
            {{ with .Params.thumbnail_square }}
            <a class="item-thumbnail" href="{{ $.RelPermalink }}" aria-hidden="true" tabindex="-1"><img src="{{ . }}" alt=""></a>
            {{ end }}
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{ with .Params.resource_type }}<span class="resource-class">{{ . }}</span>{{ end }}
        </div>
    </li>
    {{ end }}
</ul>
<div class="browse-controls">
    <nav class="pagination" aria-label="Pagination">
        {{ template "_internal/pagination.html" . }}
    </nav>
</div>
{{ end }}
