/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_typography.scss */
html {
  font-size: 15px;
  line-height: 1.3;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif; }
  @media print {
    /* line 1, ../sass/base/_typography.scss */
    html {
      font-size: 12px;
      color: #000; } }

/* line 11, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Garamond, Georgia, Berkeley, serif; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 11, ../sass/base/_typography.scss */
    h1, h2, h3, h4, h5, h6 {
      margin-left: 0.8em;
      margin-right: 0.8em; } }

/* line 20, ../sass/base/_typography.scss */
h1 {
  font-size: 2em;
  margin: 0.2em 0;
  font-weight: 400;
  letter-spacing: 1px;
  color: #b21943; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 20, ../sass/base/_typography.scss */
    h1 {
      margin: 0;
      font-size: 1.4em; } }
  @media (min-width: 661px) and (max-width: 1024px) {
    /* line 20, ../sass/base/_typography.scss */
    h1 {
      font-size: 1.6em; } }

/* line 34, ../sass/base/_typography.scss */
h2 {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0;
  padding: 0;
  letter-spacing: 2px; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 34, ../sass/base/_typography.scss */
    h2 {
      border-top: none;
      line-height: 1.5;
      margin: 0;
      font-size: 1.3em; } }
  @media (min-width: 661px) and (max-width: 1024px) {
    /* line 34, ../sass/base/_typography.scss */
    h2 {
      font-size: 1.4em; } }
  /* line 51, ../sass/base/_typography.scss */
  h2 span {
    padding-right: 0.8em;
    padding-left: 0.8em; }

/* line 57, ../sass/base/_typography.scss */
h3 {
  margin: 0.3em 0;
  font-weight: 400;
  font-size: 1.2em; }

/* line 64, ../sass/base/_typography.scss */
h4 {
  margin: 0.3em 0;
  font-size: 2em;
  font-weight: 400; }

/* line 71, ../sass/base/_typography.scss */
h5 {
  font-size: 0.8em;
  margin: 0.5em 0;
  font-weight: 100;
  text-transform: uppercase; }

/* line 77, ../sass/base/_typography.scss */
h6 {
  margin: 0.3em 0;
  font-size: 1.1em;
  font-weight: 400; }

/* line 84, ../sass/base/_typography.scss */
a {
  text-decoration: none;
  color: #4d4d4d;
  cursor: pointer; }

/* line 90, ../sass/base/_typography.scss */
a.orangelink {
  font-weight: 600;
  margin-right: 1.4em; }
  /* line 94, ../sass/base/_typography.scss */
  a.orangelink:after {
    content: "";
    position: absolute;
    background-size: cover;
    width: 1em;
    height: 1em;
    margin-left: 0.3em; }

/* line 105, ../sass/base/_typography.scss */
.button {
  background-color: #003049;
  color: #fff;
  border: medium none;
  margin: 0;
  padding: 0.3em 0.6em;
  font-size: 1.1em;
  cursor: pointer; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 105, ../sass/base/_typography.scss */
    .button {
      font-size: 1em; } }
  @media (min-width: 661px) and (max-width: 1024px) {
    /* line 105, ../sass/base/_typography.scss */
    .button {
      font-size: 0.8em; } }
  /* line 119, ../sass/base/_typography.scss */
  .button a {
    color: #fff; }

/* line 124, ../sass/base/_typography.scss */
.wrapthis .button {
  display: inline;
  vertical-align: middle;
  width: 45%;
  position: relative; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 124, ../sass/base/_typography.scss */
    .wrapthis .button {
      width: auto;
      margin: 0; } }
  /* line 133, ../sass/base/_typography.scss */
  .wrapthis .button a {
    background-color: #003049; }
  /* line 136, ../sass/base/_typography.scss */
  .wrapthis .button img {
    height: 1.1em;
    vertical-align: middle; }
/* line 141, ../sass/base/_typography.scss */
.wrapthis .big {
  font-size: 1.5em; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 141, ../sass/base/_typography.scss */
    .wrapthis .big {
      font-size: 1.2em; } }
  @media (min-width: 661px) and (max-width: 1024px) {
    /* line 141, ../sass/base/_typography.scss */
    .wrapthis .big {
      font-size: 1.3em; } }
/* line 150, ../sass/base/_typography.scss */
.wrapthis .instruction {
  margin: 0.3em;
  display: inline-block;
  vertical-align: middle;
  width: 30%; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 150, ../sass/base/_typography.scss */
    .wrapthis .instruction {
      width: 100%;
      margin-top: 0.5em; } }
  @media (min-width: 661px) and (max-width: 1024px) {
    /* line 150, ../sass/base/_typography.scss */
    .wrapthis .instruction {
      width: 50%; } }

/* line 165, ../sass/base/_typography.scss */
.right {
  text-align: right;
  margin-top: 1em; }

/* line 169, ../sass/base/_typography.scss */
.left {
  text-align: left;
  margin-top: 1em; }

@media (min-width: 1px) and (max-width: 660px) {
  /* line 175, ../sass/base/_typography.scss */
  p {
    margin-left: 0.3em;
    margin-right: 0.3em; } }

/* line 186, ../sass/base/_typography.scss */
.ui-accordion .ui-accordion-header {
  border: none;
  background: #003049;
  color: #fff;
  font-size: 1.2em;
  border-radius: 0; }
  /* line 192, ../sass/base/_typography.scss */
  .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    background-color: #fff;
    border-radius: 50%; }
/* line 197, ../sass/base/_typography.scss */
.ui-accordion .ui-accordion-content {
  height: 100% !important;
  border: none;
  padding: 0.5em 1em 2em; }

/* line 203, ../sass/base/_typography.scss */
.ui-widget {
  font-size: 1em;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif; }

/* line 207, ../sass/base/_typography.scss */
.ui-widget-content {
  background: none; }

/* line 214, ../sass/base/_typography.scss */
.ui-tabs {
  border: none; }
  /* line 216, ../sass/base/_typography.scss */
  .ui-tabs .ui-widget-header {
    background: none;
    border: none; }
  /* line 221, ../sass/base/_typography.scss */
  .ui-tabs .ui-tabs-nav li {
    border: none;
    border-radius: 0;
    background: none;
    background-color: #f2f2f2;
    margin-left: -0.2em;
    text-transform: uppercase;
    font-family: Garamond, Georgia, Berkeley, serif;
    letter-spacing: 1px;
    font-weight: 400; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 221, ../sass/base/_typography.scss */
      .ui-tabs .ui-tabs-nav li {
        width: 100%; } }
    /* line 234, ../sass/base/_typography.scss */
    .ui-tabs .ui-tabs-nav li a {
      background-color: #f2f2f2;
      color: #b2b2b2; }
  /* line 239, ../sass/base/_typography.scss */
  .ui-tabs .ui-tabs-nav li.ui-state-active {
    background-color: #003049; }
    /* line 241, ../sass/base/_typography.scss */
    .ui-tabs .ui-tabs-nav li.ui-state-active a {
      background-color: #003049;
      color: #fff; }
  /* line 247, ../sass/base/_typography.scss */
  .ui-tabs .ui-tabs-panel {
    border: 0.2em solid #003049;
    background-color: #f2f2f2; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 1, 2016 4:19AM
    Author     : jlee
*/
/* line 10, ../sass/base/amboyna.scss */
body {
  background-color: #ede9e1; }

/* line 13, ../sass/base/amboyna.scss */
.l-header, .l-main, .l-footer {
  min-width: 100%; }

/* line 16, ../sass/base/amboyna.scss */
iframe {
  width: 100%;
  height: 500px; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 16, ../sass/base/amboyna.scss */
    iframe {
      height: 250px; } }
  @media (min-width: 661px) and (max-width: 1024px) {
    /* line 16, ../sass/base/amboyna.scss */
    iframe {
      height: 350px; } }

/* line 26, ../sass/base/amboyna.scss */
.l-main {
  margin-bottom: 4em; }
  /* line 28, ../sass/base/amboyna.scss */
  .l-main .l-content {
    max-width: 1300px;
    width: 90%;
    padding: 1em;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 4px 6px 8px #b2b2b2; }

/* line 37, ../sass/base/amboyna.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.7);
  z-index: 10; }

/* line 48, ../sass/base/amboyna.scss */
.l-header {
  margin-top: -1em;
  margin-bottom: 0;
  position: relative; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 48, ../sass/base/amboyna.scss */
    .l-header {
      margin-bottom: 0 !important; } }
  /* line 56, ../sass/base/amboyna.scss */
  .l-header .pane-system-main-menu {
    width: 60%;
    text-align: center;
    padding: 0.3em;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 1;
    font-size: 1.1em; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 56, ../sass/base/amboyna.scss */
      .l-header .pane-system-main-menu {
        position: relative;
        width: 100%;
        margin-top: 1em;
        padding-top: 0.5em;
        font-size: 1em; } }
    @media (min-width: 661px) and (max-width: 1024px) {
      /* line 56, ../sass/base/amboyna.scss */
      .l-header .pane-system-main-menu {
        width: 70%;
        max-width: 650px;
        top: 0;
        font-size: 1em; } }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 78, ../sass/base/amboyna.scss */
      .l-header .pane-system-main-menu ul.menu {
        margin: 0;
        padding: 0;
        text-align: center; } }
    /* line 84, ../sass/base/amboyna.scss */
    .l-header .pane-system-main-menu ul.menu li {
      display: inline;
      font-family: Garamond, Georgia, Berkeley, serif;
      text-transform: uppercase;
      padding: 0 1em;
      border-right: 1px solid #fff; }
      @media (min-width: 1px) and (max-width: 660px) {
        /* line 84, ../sass/base/amboyna.scss */
        .l-header .pane-system-main-menu ul.menu li {
          border-right: 1px solid #4d4d4d; } }
      /* line 93, ../sass/base/amboyna.scss */
      .l-header .pane-system-main-menu ul.menu li a {
        color: #fff;
        font-size: 0.9em; }
        @media (min-width: 1px) and (max-width: 660px) {
          /* line 93, ../sass/base/amboyna.scss */
          .l-header .pane-system-main-menu ul.menu li a {
            color: #4d4d4d; } }
    /* line 101, ../sass/base/amboyna.scss */
    .l-header .pane-system-main-menu ul.menu li.last {
      border: none; }
  /* line 107, ../sass/base/amboyna.scss */
  .l-header .l-region--header {
    width: 100% !important;
    float: none;
    clear: both;
    margin-top: -1em; }
    /* line 112, ../sass/base/amboyna.scss */
    .l-header .l-region--header .headerwrap {
      position: relative; }
      /* line 114, ../sass/base/amboyna.scss */
      .l-header .l-region--header .headerwrap .headerinner {
        height: 150px; }
        @media (min-width: 1px) and (max-width: 660px) {
          /* line 114, ../sass/base/amboyna.scss */
          .l-header .l-region--header .headerwrap .headerinner {
            height: auto; } }
        @media (min-width: 661px) and (max-width: 1024px) {
          /* line 114, ../sass/base/amboyna.scss */
          .l-header .l-region--header .headerwrap .headerinner {
            height: auto; } }
        /* line 123, ../sass/base/amboyna.scss */
        .l-header .l-region--header .headerwrap .headerinner .toback .backme {
          height: 150px;
          width: 100%; }
          @media (min-width: 1px) and (max-width: 660px) {
            /* line 123, ../sass/base/amboyna.scss */
            .l-header .l-region--header .headerwrap .headerinner .toback .backme {
              height: 80px; } }
          @media (min-width: 661px) and (max-width: 1024px) {
            /* line 123, ../sass/base/amboyna.scss */
            .l-header .l-region--header .headerwrap .headerinner .toback .backme {
              height: auto; } }
        /* line 134, ../sass/base/amboyna.scss */
        .l-header .l-region--header .headerwrap .headerinner .totop {
          position: absolute;
          top: 10%;
          left: 5%;
          width: 35%;
          margin-top: 1em; }
          @media (min-width: 1px) and (max-width: 660px) {
            /* line 134, ../sass/base/amboyna.scss */
            .l-header .l-region--header .headerwrap .headerinner .totop {
              width: 90%;
              margin-top: 0;
              text-align: center; } }
          @media (min-width: 661px) and (max-width: 1024px) {
            /* line 134, ../sass/base/amboyna.scss */
            .l-header .l-region--header .headerwrap .headerinner .totop {
              top: 10%;
              left: 3%;
              width: 30%; } }
          /* line 150, ../sass/base/amboyna.scss */
          .l-header .l-region--header .headerwrap .headerinner .totop img {
            max-height: 7em; }
            @media (min-width: 1px) and (max-width: 660px) {
              /* line 150, ../sass/base/amboyna.scss */
              .l-header .l-region--header .headerwrap .headerinner .totop img {
                height: 60px; } }

/* line 163, ../sass/base/amboyna.scss */
.l-footer {
  text-align: center;
  margin-top: 2em; }
  /* line 166, ../sass/base/amboyna.scss */
  .l-footer .footwrap {
    display: inline;
    color: #727171;
    padding: 1.5em 5em 0;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 200; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 166, ../sass/base/amboyna.scss */
      .l-footer .footwrap {
        display: block; } }
    /* line 177, ../sass/base/amboyna.scss */
    .l-footer .footwrap .cpright {
      display: inline-block;
      margin-right: 3em; }
      @media (min-width: 1px) and (max-width: 660px) {
        /* line 177, ../sass/base/amboyna.scss */
        .l-footer .footwrap .cpright {
          display: block;
          margin: 0.5em 0; } }
    /* line 185, ../sass/base/amboyna.scss */
    .l-footer .footwrap .linkwrap {
      display: inline-block; }
      @media (min-width: 1px) and (max-width: 660px) {
        /* line 185, ../sass/base/amboyna.scss */
        .l-footer .footwrap .linkwrap {
          display: block; } }
      /* line 191, ../sass/base/amboyna.scss */
      .l-footer .footwrap .linkwrap .linkers a {
        color: #727171; }
      /* line 195, ../sass/base/amboyna.scss */
      .l-footer .footwrap .linkwrap .divider {
        color: #727171; }

/* line 205, ../sass/base/amboyna.scss */
.front .pane-system-main-menu {
  width: 60%;
  top: 8%; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 205, ../sass/base/amboyna.scss */
    .front .pane-system-main-menu {
      position: relative;
      width: 100%;
      top: 0;
      margin-top: 1em;
      padding-top: 0.5em; } }
  @media (min-width: 661px) and (max-width: 1024px) {
    /* line 205, ../sass/base/amboyna.scss */
    .front .pane-system-main-menu {
      max-width: 650px;
      top: 1%; } }
/* line 221, ../sass/base/amboyna.scss */
.front .headerwrap {
  margin-top: -1em; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 221, ../sass/base/amboyna.scss */
    .front .headerwrap {
      margin-top: 0.5em; } }
  /* line 226, ../sass/base/amboyna.scss */
  .front .headerwrap .videofunsies {
    display: none; }
    /* line 228, ../sass/base/amboyna.scss */
    .front .headerwrap .videofunsies .vidpopup {
      background-color: white;
      position: fixed;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      z-index: 20;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      /* line 238, ../sass/base/amboyna.scss */
      .front .headerwrap .videofunsies .vidpopup iframe {
        height: 100%; }
  /* line 243, ../sass/base/amboyna.scss */
  .front .headerwrap .headinner {
    position: relative;
    height: auto; }
    /* line 246, ../sass/base/amboyna.scss */
    .front .headerwrap .headinner .toback {
      z-index: 0; }
      /* line 248, ../sass/base/amboyna.scss */
      .front .headerwrap .headinner .toback .backme {
        height: auto; }
        @media (min-width: 1025px) {
          /* line 248, ../sass/base/amboyna.scss */
          .front .headerwrap .headinner .toback .backme {
            max-height: 40em;
            width: 100%; } }
    /* line 256, ../sass/base/amboyna.scss */
    .front .headerwrap .headinner .headinnerwrap {
      z-index: 1; }
    /* line 259, ../sass/base/amboyna.scss */
    .front .headerwrap .headinner .toleft {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 35%; }
      @media (min-width: 1px) and (max-width: 660px) {
        /* line 259, ../sass/base/amboyna.scss */
        .front .headerwrap .headinner .toleft {
          width: 90%;
          margin-top: 1em; } }
      @media (min-width: 661px) and (max-width: 1024px) {
        /* line 259, ../sass/base/amboyna.scss */
        .front .headerwrap .headinner .toleft {
          top: 10%;
          left: 3%;
          width: 30%; } }
    /* line 274, ../sass/base/amboyna.scss */
    .front .headerwrap .headinner .homedet {
      padding: 0.3em 2em;
      position: absolute;
      width: 530px;
      bottom: 10%; }
      @media (min-width: 1px) and (max-width: 660px) {
        /* line 274, ../sass/base/amboyna.scss */
        .front .headerwrap .headinner .homedet {
          position: relative;
          width: 100%; } }
      @media (min-width: 661px) and (max-width: 1024px) {
        /* line 274, ../sass/base/amboyna.scss */
        .front .headerwrap .headinner .homedet {
          margin-bottom: -0.8em;
          margin-top: -1em;
          width: 400px; } }
      /* line 288, ../sass/base/amboyna.scss */
      .front .headerwrap .headinner .homedet p {
        color: #fff;
        font-family: Garamond, Georgia, Berkeley, serif;
        font-size: 1.4em;
        letter-spacing: 1px;
        text-shadow: 2px 2px #333; }
        @media (min-width: 1px) and (max-width: 660px) {
          /* line 288, ../sass/base/amboyna.scss */
          .front .headerwrap .headinner .homedet p {
            color: #4d4d4d;
            text-shadow: none;
            font-size: 0.9em; } }
        @media (min-width: 661px) and (max-width: 1024px) {
          /* line 288, ../sass/base/amboyna.scss */
          .front .headerwrap .headinner .homedet p {
            font-size: 0.9em; } }
      /* line 305, ../sass/base/amboyna.scss */
      .front .headerwrap .headinner .homedet .homevid .vidbutt .button {
        font-size: 1.3em;
        background-color: #b21943; }
      /* line 309, ../sass/base/amboyna.scss */
      .front .headerwrap .headinner .homedet .homevid .vidbutt .play {
        margin-top: -0.2em;
        height: 0.9em;
        vertical-align: middle;
        margin-left: 0.3em; }
/* line 321, ../sass/base/amboyna.scss */
.front .bottomblock {
  max-width: 1200px;
  padding: 0 0.5em;
  margin: 1em auto;
  text-align: center; }
  /* line 326, ../sass/base/amboyna.scss */
  .front .bottomblock .rightwrap {
    display: inline-block;
    vertical-align: top;
    width: 42%; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 326, ../sass/base/amboyna.scss */
      .front .bottomblock .rightwrap {
        display: block;
        width: 100%;
        margin: 1em 0; } }
    @media (min-width: 661px) and (max-width: 1024px) {
      /* line 326, ../sass/base/amboyna.scss */
      .front .bottomblock .rightwrap {
        display: block;
        width: 100%;
        margin: 1em 0; } }
    /* line 340, ../sass/base/amboyna.scss */
    .front .bottomblock .rightwrap .exhibitwrap {
      display: inline-block;
      vertical-align: top;
      width: 44%;
      position: relative;
      margin: 0 0.8em 0.5em;
      text-align: left; }
      @media (min-width: 1px) and (max-width: 660px) {
        /* line 340, ../sass/base/amboyna.scss */
        .front .bottomblock .rightwrap .exhibitwrap {
          display: block;
          width: 100%;
          margin: 1em 0; } }
      /* line 353, ../sass/base/amboyna.scss */
      .front .bottomblock .rightwrap .exhibitwrap .exhibitimgwrap .exhibitimg {
        position: relative;
        z-index: 0; }
        /* line 356, ../sass/base/amboyna.scss */
        .front .bottomblock .rightwrap .exhibitwrap .exhibitimgwrap .exhibitimg:after {
          display: block;
          position: absolute;
          background-image: linear-gradient(to bottom, #000000 0%, rgba(230, 226, 218, 0) 100%);
          height: 100%;
          width: 100%;
          content: '';
          top: 0;
          left: 0; }
        /* line 366, ../sass/base/amboyna.scss */
        .front .bottomblock .rightwrap .exhibitwrap .exhibitimgwrap .exhibitimg img {
          width: 100%; }
      /* line 371, ../sass/base/amboyna.scss */
      .front .bottomblock .rightwrap .exhibitwrap .exhibittxt {
        position: absolute;
        border: 1px solid #fff;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: 90%;
        height: 80%;
        transform: translate(-50%, -50%);
        padding: 0.2em; }
        /* line 381, ../sass/base/amboyna.scss */
        .front .bottomblock .rightwrap .exhibitwrap .exhibittxt h3 {
          color: #fff;
          margin-top: 0;
          padding-top: 0; }
        /* line 386, ../sass/base/amboyna.scss */
        .front .bottomblock .rightwrap .exhibitwrap .exhibittxt h5 {
          color: #fff; }
  /* line 392, ../sass/base/amboyna.scss */
  .front .bottomblock .leftwrap {
    display: inline-block;
    vertical-align: top;
    width: 56%; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 392, ../sass/base/amboyna.scss */
      .front .bottomblock .leftwrap {
        display: block;
        width: 100%;
        margin: 1em 0; } }
    @media (min-width: 661px) and (max-width: 1024px) {
      /* line 392, ../sass/base/amboyna.scss */
      .front .bottomblock .leftwrap {
        display: block;
        width: 100%;
        margin: 1em 0; } }
    /* line 406, ../sass/base/amboyna.scss */
    .front .bottomblock .leftwrap .pgwrap {
      display: inline-block;
      vertical-align: top;
      width: 45%;
      position: relative;
      text-align: left;
      margin: 0 0.8em; }
      @media (min-width: 1px) and (max-width: 660px) {
        /* line 406, ../sass/base/amboyna.scss */
        .front .bottomblock .leftwrap .pgwrap {
          display: block;
          width: 100%;
          margin: 1em 0; } }
      /* line 419, ../sass/base/amboyna.scss */
      .front .bottomblock .leftwrap .pgwrap .pgimgwrap .pgimg {
        position: relative;
        z-index: 0; }
        /* line 422, ../sass/base/amboyna.scss */
        .front .bottomblock .leftwrap .pgwrap .pgimgwrap .pgimg:after {
          display: block;
          position: absolute;
          background-image: linear-gradient(to bottom, #000000 0%, rgba(230, 226, 218, 0) 100%);
          height: 100%;
          width: 100%;
          content: '';
          top: 0;
          left: 0; }
        /* line 432, ../sass/base/amboyna.scss */
        .front .bottomblock .leftwrap .pgwrap .pgimgwrap .pgimg img {
          width: 100%; }
      /* line 437, ../sass/base/amboyna.scss */
      .front .bottomblock .leftwrap .pgwrap .pgtxt {
        position: absolute;
        border: 1px solid #fff;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: 90%;
        height: 90%;
        transform: translate(-50%, -50%);
        padding: 0.5em; }
        /* line 447, ../sass/base/amboyna.scss */
        .front .bottomblock .leftwrap .pgwrap .pgtxt h3 {
          color: #fff;
          margin-top: 0;
          padding-top: 0; }
        /* line 452, ../sass/base/amboyna.scss */
        .front .bottomblock .leftwrap .pgwrap .pgtxt h5 {
          color: #fff; }
/* line 459, ../sass/base/amboyna.scss */
.front .l-main {
  display: none; }

/* line 466, ../sass/base/amboyna.scss */
.node-type-exhibits .popupfun {
  display: none; }
  /* line 468, ../sass/base/amboyna.scss */
  .node-type-exhibits .popupfun .popupwrap {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: auto;
    z-index: 10;
    background-color: #ede9e1;
    text-align: right;
    padding: 1em; }
    /* line 478, ../sass/base/amboyna.scss */
    .node-type-exhibits .popupfun .popupwrap .exitbutt {
      display: inline;
      font-size: 3em;
      font-weight: 300;
      color: #b21943;
      cursor: pointer;
      margin-right: 0.3em; }
    /* line 486, ../sass/base/amboyna.scss */
    .node-type-exhibits .popupfun .popupwrap .archivelink {
      position: absolute;
      top: 2em;
      right: 4em;
      background-color: #003049;
      color: #fff;
      font-size: 1.1em;
      padding: 0.2em 1em;
      cursor: pointer; }
    /* line 496, ../sass/base/amboyna.scss */
    .node-type-exhibits .popupfun .popupwrap .pop {
      text-align: left; }
      /* line 498, ../sass/base/amboyna.scss */
      .node-type-exhibits .popupfun .popupwrap .pop .srcholder {
        display: none; }
        /* line 501, ../sass/base/amboyna.scss */
        .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap {
          position: relative;
          padding: 1em; }
          /* line 505, ../sass/base/amboyna.scss */
          .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .srcinfo {
            display: none; }
          /* line 508, ../sass/base/amboyna.scss */
          .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap h5 {
            margin: 0;
            font-size: 1.5em; }
          /* line 512, ../sass/base/amboyna.scss */
          .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .srcpic {
            width: 90%;
            margin: 1em auto;
            text-align: center; }
          /* line 517, ../sass/base/amboyna.scss */
          .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .srcpic.halfwidth {
            width: 100%;
            margin: inherit;
            text-align: center; }
          /* line 527, ../sass/base/amboyna.scss */
          .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .toleft {
            width: 100%;
            vertical-align: top;
            text-align: center; }
            /* line 538, ../sass/base/amboyna.scss */
            .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .toleft .srcfile .audiowrap .audiothumb {
              position: relative; }
              /* line 540, ../sass/base/amboyna.scss */
              .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .toleft .srcfile .audiowrap .audiothumb:before {
                content: "";
                position: absolute;
                height: 27px;
                width: 37px;
                background: url("../images/volume.png") no-repeat scroll left top;
                background-size: cover;
                margin-top: 0.5em;
                margin-left: 0.5em; }
              /* line 550, ../sass/base/amboyna.scss */
              .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .toleft .srcfile .audiowrap .audiothumb img {
                max-width: 300px;
                width: 100%;
                box-shadow: 5px 5px 10px -1px #999; }
            /* line 556, ../sass/base/amboyna.scss */
            .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .toleft .srcfile .audiowrap .audiosrc {
              margin-top: 2em; }
              /* line 558, ../sass/base/amboyna.scss */
              .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .toleft .srcfile .audiowrap .audiosrc audio {
                max-width: 300px;
                width: 100%; }
          /* line 566, ../sass/base/amboyna.scss */
          .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .toright {
            width: 100%;
            vertical-align: top;
            margin-top: 1em; }
            /* line 575, ../sass/base/amboyna.scss */
            .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .toright .togglewrap {
              position: absolute;
              top: 1em;
              right: 11em;
              background-color: #003049;
              color: #fff;
              font-size: 1.1em;
              padding: 0.2em 1em;
              cursor: pointer; }
            /* line 586, ../sass/base/amboyna.scss */
            .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .toright .srctranscript .srctranwrap, .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcwrap .toright .srctransclate .srctranwrap {
              background-color: #fff;
              padding: 1em 1.5em;
              box-shadow: 5px 5px 10px -1px #999;
              overflow-y: scroll; }
        /* line 597, ../sass/base/amboyna.scss */
        .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srccit {
          margin: 2em 0; }
          /* line 599, ../sass/base/amboyna.scss */
          .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srccit p {
            color: #515151;
            margin-top: 0; }
        /* line 604, ../sass/base/amboyna.scss */
        .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcrelated {
          text-align: center; }
          /* line 606, ../sass/base/amboyna.scss */
          .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcrelated article {
            display: inline-block;
            width: 15%;
            vertical-align: top;
            margin: 1em 0.5em; }
            @media (min-width: 1px) and (max-width: 660px) {
              /* line 606, ../sass/base/amboyna.scss */
              .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcrelated article {
                width: 100%;
                margin: 1em 0; } }
            @media (min-width: 661px) and (max-width: 1024px) {
              /* line 606, ../sass/base/amboyna.scss */
              .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcrelated article {
                margin: 1em 0.8em;
                font-size: 0.9em; } }
            /* line 619, ../sass/base/amboyna.scss */
            .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcrelated article header h2 {
              border: none;
              font-size: 1em;
              line-height: 1.25;
              text-transform: none;
              letter-spacing: 0;
              font-weight: 500; }
            /* line 627, ../sass/base/amboyna.scss */
            .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcrelated article footer, .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcrelated article .node-readmore, .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcrelated article .node__content .field__label, .node-type-exhibits .popupfun .popupwrap .pop .srcholder .view-source-ind .srcrelated article .field--name-field-exhibit-analysis {
              display: none; }
/* line 638, ../sass/base/amboyna.scss */
.node-type-exhibits .introtalk .introdetail {
  padding-bottom: 0.8em; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 638, ../sass/base/amboyna.scss */
    .node-type-exhibits .introtalk .introdetail {
      width: 100%;
      margin: 0.5em 0; } }
/* line 652, ../sass/base/amboyna.scss */
.node-type-exhibits .introtalk .ytvid.button.toright {
  display: inline;
  vertical-align: middle;
  padding: 0.5em 2em 0.4em 1em;
  position: relative;
  font-size: 1.3em;
  background-color: #b21943; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 652, ../sass/base/amboyna.scss */
    .node-type-exhibits .introtalk .ytvid.button.toright {
      width: 100%;
      margin: 0.5em 0; } }
  @media (min-width: 661px) and (max-width: 1024px) {
    /* line 652, ../sass/base/amboyna.scss */
    .node-type-exhibits .introtalk .ytvid.button.toright {
      font-size: 1em; } }
  /* line 667, ../sass/base/amboyna.scss */
  .node-type-exhibits .introtalk .ytvid.button.toright:after {
    content: "";
    position: absolute;
    height: 1.4em;
    width: 1em;
    background: url("../images/triangle.png") no-repeat scroll left top;
    background-size: cover;
    top: 0.35em;
    right: 0.5em; }
/* line 679, ../sass/base/amboyna.scss */
.node-type-exhibits .sectionwrap {
  margin: 2em 0; }
  /* line 681, ../sass/base/amboyna.scss */
  .node-type-exhibits .sectionwrap .srclinks {
    text-align: center; }
    /* line 683, ../sass/base/amboyna.scss */
    .node-type-exhibits .sectionwrap .srclinks article {
      vertical-align: top;
      margin: 1em 1.2em;
      cursor: pointer; }
      /* line 697, ../sass/base/amboyna.scss */
      .node-type-exhibits .sectionwrap .srclinks article header, .node-type-exhibits .sectionwrap .srclinks article footer, .node-type-exhibits .sectionwrap .srclinks article .node-readmore, .node-type-exhibits .sectionwrap .srclinks article .node__content .field__label, .node-type-exhibits .sectionwrap .srclinks article .field--name-field-alternative-title {
        display: none; }
      /* line 700, ../sass/base/amboyna.scss */
      .node-type-exhibits .sectionwrap .srclinks article .field--name-field-source-thumbnail {
        float: left;
        margin: 0 2em 1em 0; }
        /* line 703, ../sass/base/amboyna.scss */
        .node-type-exhibits .sectionwrap .srclinks article .field--name-field-source-thumbnail img {
          width: 400px;
          box-shadow: 5px 5px 10px -1px #999; }
      /* line 708, ../sass/base/amboyna.scss */
      .node-type-exhibits .sectionwrap .srclinks article .field--name-field-exhibit-analysis {
        text-align: left;
        padding: 0 0.5em; }
        @media (min-width: 661px) and (max-width: 1024px) {
          /* line 708, ../sass/base/amboyna.scss */
          .node-type-exhibits .sectionwrap .srclinks article .field--name-field-exhibit-analysis {
            padding: 0; } }
      /* line 715, ../sass/base/amboyna.scss */
      .node-type-exhibits .sectionwrap .srclinks article a {
        color: #d03761;
        font-weight: 600;
        margin-right: 1.4em; }
        /* line 719, ../sass/base/amboyna.scss */
        .node-type-exhibits .sectionwrap .srclinks article a:after {
          content: "";
          position: absolute;
          background: url("../images/outlink.png") no-repeat scroll left top;
          background-size: auto;
          background-size: cover;
          width: 1em;
          height: 1em;
          margin-left: 0.3em; }
  /* line 732, ../sass/base/amboyna.scss */
  .node-type-exhibits .sectionwrap .morelink {
    text-align: center; }
    /* line 734, ../sass/base/amboyna.scss */
    .node-type-exhibits .sectionwrap .morelink a {
      text-decoration: underline; }
/* line 739, ../sass/base/amboyna.scss */
.node-type-exhibits .otherexhibits {
  text-align: center; }
  /* line 742, ../sass/base/amboyna.scss */
  .node-type-exhibits .otherexhibits .view-exhibit-ind-helper .view-header {
    width: 35%;
    vertical-align: top;
    margin: auto; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 742, ../sass/base/amboyna.scss */
      .node-type-exhibits .otherexhibits .view-exhibit-ind-helper .view-header {
        width: 80%;
        padding-top: 1em; } }
    @media (min-width: 661px) and (max-width: 1024px) {
      /* line 742, ../sass/base/amboyna.scss */
      .node-type-exhibits .otherexhibits .view-exhibit-ind-helper .view-header {
        width: 80%; } }
  /* line 755, ../sass/base/amboyna.scss */
  .node-type-exhibits .otherexhibits .view-exhibit-ind-helper .views-row {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 0.3em; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 755, ../sass/base/amboyna.scss */
      .node-type-exhibits .otherexhibits .view-exhibit-ind-helper .views-row {
        width: 100%;
        margin: 0.3em 0; } }
    @media (min-width: 661px) and (max-width: 1024px) {
      /* line 755, ../sass/base/amboyna.scss */
      .node-type-exhibits .otherexhibits .view-exhibit-ind-helper .views-row {
        width: 45%; } }
    /* line 767, ../sass/base/amboyna.scss */
    .node-type-exhibits .otherexhibits .view-exhibit-ind-helper .views-row .views-field-field-exhibit-thumb {
      padding: 0.5em 1em; }
      @media (min-width: 1px) and (max-width: 660px) {
        /* line 767, ../sass/base/amboyna.scss */
        .node-type-exhibits .otherexhibits .view-exhibit-ind-helper .views-row .views-field-field-exhibit-thumb {
          margin: 1em 0 0.3em;
          padding: 0.5em 0 0; } }
      /* line 773, ../sass/base/amboyna.scss */
      .node-type-exhibits .otherexhibits .view-exhibit-ind-helper .views-row .views-field-field-exhibit-thumb img {
        border-radius: 7px; }

/* line 785, ../sass/base/amboyna.scss */
.page-node-6 .pane-people-landing {
  margin-top: 2em; }
/* line 788, ../sass/base/amboyna.scss */
.page-node-6 .view-people-landing {
  text-align: center; }
  /* line 790, ../sass/base/amboyna.scss */
  .page-node-6 .view-people-landing .ui-accordion-header, .page-node-6 .view-people-landing .maritimeinfo, .page-node-6 .view-people-landing .tradeinfo, .page-node-6 .view-people-landing .continfo {
    text-align: left; }
  /* line 793, ../sass/base/amboyna.scss */
  .page-node-6 .view-people-landing .maritimeinfo, .page-node-6 .view-people-landing .tradeinfo, .page-node-6 .view-people-landing .continfo {
    margin-bottom: 2em; }
  /* line 796, ../sass/base/amboyna.scss */
  .page-node-6 .view-people-landing .views-row {
    display: inline-block;
    width: 25%;
    margin: 0.3em 1.2em;
    vertical-align: top;
    text-align: left;
    border: 0.2em solid #b21943;
    padding: 1em 1.5em;
    background-color: #f2f2f2; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 796, ../sass/base/amboyna.scss */
      .page-node-6 .view-people-landing .views-row {
        width: 100%;
        margin: 0.3em 0; } }
    /* line 809, ../sass/base/amboyna.scss */
    .page-node-6 .view-people-landing .views-row .views-field-title {
      color: #b21943;
      font-size: 1.2em;
      text-transform: uppercase;
      margin-bottom: 0.2em;
      letter-spacing: 1px; }
      /* line 815, ../sass/base/amboyna.scss */
      .page-node-6 .view-people-landing .views-row .views-field-title a {
        color: #b21943; }
    /* line 820, ../sass/base/amboyna.scss */
    .page-node-6 .view-people-landing .views-row .views-field-field-image-thumb img {
      box-shadow: 4px 4px 6px #b2b2b2;
      width: 100%; }

/* line 832, ../sass/base/amboyna.scss */
.node-type-people-and-organizations .views-field-field-image {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 1em;
  width: 25%;
  vertical-align: top; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 832, ../sass/base/amboyna.scss */
    .node-type-people-and-organizations .views-field-field-image {
      width: 100%;
      margin: 0 0 1em; } }
  /* line 842, ../sass/base/amboyna.scss */
  .node-type-people-and-organizations .views-field-field-image img {
    box-shadow: 3px 3px 4px #b2b2b2; }
/* line 846, ../sass/base/amboyna.scss */
.node-type-people-and-organizations .views-field-body {
  display: inline-block;
  width: 70%;
  vertical-align: top; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 846, ../sass/base/amboyna.scss */
    .node-type-people-and-organizations .views-field-body {
      width: 100%; } }

/* line 858, ../sass/base/amboyna.scss */
.page-node-7 .view-src-archive {
  text-align: center; }
  /* line 860, ../sass/base/amboyna.scss */
  .page-node-7 .view-src-archive .view-filters {
    text-align: left; }
    /* line 863, ../sass/base/amboyna.scss */
    .page-node-7 .view-src-archive .view-filters:before {
      content: "FILTER BY...";
      margin: 0.3em 0;
      font-size: 1.1em;
      font-weight: 400;
      font-family: Garamond, Georgia, Berkeley, serif; }
    /* line 870, ../sass/base/amboyna.scss */
    .page-node-7 .view-src-archive .view-filters #edit-field-source-date-tid-wrapper {
      display: none; }
    /* line 873, ../sass/base/amboyna.scss */
    .page-node-7 .view-src-archive .view-filters .views-exposed-form .views-exposed-widget {
      float: none;
      clear: both;
      display: inline-block;
      text-align: left; }
      @media (min-width: 1px) and (max-width: 660px) {
        /* line 873, ../sass/base/amboyna.scss */
        .page-node-7 .view-src-archive .view-filters .views-exposed-form .views-exposed-widget {
          display: block;
          width: 100%;
          padding: 0.5em 0.3em; } }
      /* line 884, ../sass/base/amboyna.scss */
      .page-node-7 .view-src-archive .view-filters .views-exposed-form .views-exposed-widget .form-type-textfield input {
        padding: 0.3em 0.5em; }
        @media (min-width: 1px) and (max-width: 660px) {
          /* line 884, ../sass/base/amboyna.scss */
          .page-node-7 .view-src-archive .view-filters .views-exposed-form .views-exposed-widget .form-type-textfield input {
            width: 100%; } }
      /* line 891, ../sass/base/amboyna.scss */
      .page-node-7 .view-src-archive .view-filters .views-exposed-form .views-exposed-widget .form-type-select {
        position: relative;
        display: block;
        width: 100% !important;
        margin-top: 0 !important; }
        /* line 896, ../sass/base/amboyna.scss */
        .page-node-7 .view-src-archive .view-filters .views-exposed-form .views-exposed-widget .form-type-select select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 100%;
          background-color: #003049;
          color: #fff;
          padding: 0.3em 1em 0.3em 0.5em;
          border: 0.3em solid #fff; }
          /* line 905, ../sass/base/amboyna.scss */
          .page-node-7 .view-src-archive .view-filters .views-exposed-form .views-exposed-widget .form-type-select select:hover {
            border: 0.3em solid #003049;
            background-color: #fff;
            color: #003049; }
        /* line 911, ../sass/base/amboyna.scss */
        .page-node-7 .view-src-archive .view-filters .views-exposed-form .views-exposed-widget .form-type-select select::-ms-expand {
          display: none; }
  /* line 917, ../sass/base/amboyna.scss */
  .page-node-7 .view-src-archive .views-row {
    display: inline-block;
    width: 23%;
    margin: 0.3em;
    vertical-align: top; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 917, ../sass/base/amboyna.scss */
      .page-node-7 .view-src-archive .views-row {
        width: 100%;
        margin: 0.3em 0; } }
    @media (min-width: 661px) and (max-width: 1024px) {
      /* line 917, ../sass/base/amboyna.scss */
      .page-node-7 .view-src-archive .views-row {
        width: 30%; } }
    /* line 929, ../sass/base/amboyna.scss */
    .page-node-7 .view-src-archive .views-row .srcwrap {
      text-align: left;
      position: relative; }
      /* line 932, ../sass/base/amboyna.scss */
      .page-node-7 .view-src-archive .views-row .srcwrap .srcimgwrap {
        position: relative;
        z-index: 0; }
        /* line 935, ../sass/base/amboyna.scss */
        .page-node-7 .view-src-archive .views-row .srcwrap .srcimgwrap:after {
          display: block;
          position: absolute;
          background-image: linear-gradient(to bottom, #000000 0%, rgba(230, 226, 218, 0) 100%);
          height: 100%;
          width: 100%;
          content: '';
          top: 0;
          left: 0; }
        /* line 945, ../sass/base/amboyna.scss */
        .page-node-7 .view-src-archive .views-row .srcwrap .srcimgwrap img {
          width: 100%; }
      /* line 949, ../sass/base/amboyna.scss */
      .page-node-7 .view-src-archive .views-row .srcwrap .srctit {
        position: absolute;
        border: 1px solid #fff;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: 90%;
        height: 90%;
        transform: translate(-50%, -50%);
        padding: 0.2em;
        font-size: 1.2em; }
        /* line 960, ../sass/base/amboyna.scss */
        .page-node-7 .view-src-archive .views-row .srcwrap .srctit h3 {
          color: #fff;
          margin-top: 0;
          padding-top: 0; }
        /* line 965, ../sass/base/amboyna.scss */
        .page-node-7 .view-src-archive .views-row .srcwrap .srctit a {
          color: #fff; }

/* line 976, ../sass/base/amboyna.scss */
.node-type-source .pane-node-title {
  display: none; }
/* line 981, ../sass/base/amboyna.scss */
.node-type-source .view-source-ind .srcwrap .srcinfo {
  font-size: 1em; }
/* line 984, ../sass/base/amboyna.scss */
.node-type-source .view-source-ind .srcwrap h5 {
  font-size: 1.5em; }
/* line 988, ../sass/base/amboyna.scss */
.node-type-source .view-source-ind .srcviewer {
  position: relative;
  padding: 1em; }
  /* line 992, ../sass/base/amboyna.scss */
  .node-type-source .view-source-ind .srcviewer .srcpic {
    margin: 1em auto;
    text-align: center; }
  /* line 997, ../sass/base/amboyna.scss */
  .node-type-source .view-source-ind .srcviewer .srcpic.halfwidth {
    width: 100%;
    margin: inherit; }
  /* line 1006, ../sass/base/amboyna.scss */
  .node-type-source .view-source-ind .srcviewer .toleft {
    width: 100%;
    vertical-align: top;
    text-align: center; }
    /* line 1014, ../sass/base/amboyna.scss */
    .node-type-source .view-source-ind .srcviewer .toleft .srcfile .audiowrap .audiothumb {
      position: relative; }
      /* line 1016, ../sass/base/amboyna.scss */
      .node-type-source .view-source-ind .srcviewer .toleft .srcfile .audiowrap .audiothumb:before {
        content: "";
        position: absolute;
        height: 27px;
        width: 37px;
        background: url("../images/volume.png") no-repeat scroll left top;
        background-size: cover;
        margin-top: 0.5em;
        margin-left: 0.5em; }
      /* line 1026, ../sass/base/amboyna.scss */
      .node-type-source .view-source-ind .srcviewer .toleft .srcfile .audiowrap .audiothumb img {
        max-width: 300px;
        width: 100%;
        box-shadow: 5px 5px 10px -1px #999; }
    /* line 1032, ../sass/base/amboyna.scss */
    .node-type-source .view-source-ind .srcviewer .toleft .srcfile .audiowrap .audiosrc {
      margin-top: 2em; }
      /* line 1034, ../sass/base/amboyna.scss */
      .node-type-source .view-source-ind .srcviewer .toleft .srcfile .audiowrap .audiosrc audio {
        max-width: 300px;
        width: 100%; }
  /* line 1042, ../sass/base/amboyna.scss */
  .node-type-source .view-source-ind .srcviewer .toright {
    width: 100%;
    vertical-align: top;
    margin-top: 1em; }
    /* line 1049, ../sass/base/amboyna.scss */
    .node-type-source .view-source-ind .srcviewer .toright .srctranscript .togglewrap, .node-type-source .view-source-ind .srcviewer .toright .srctransclate .togglewrap {
      position: absolute;
      top: -1.6em;
      right: 0;
      background-color: #003049;
      color: #fff;
      font-size: 1.1em;
      padding: 0.2em 1em;
      cursor: pointer; }
    /* line 1059, ../sass/base/amboyna.scss */
    .node-type-source .view-source-ind .srcviewer .toright .srctranscript .srctranwrap, .node-type-source .view-source-ind .srcviewer .toright .srctransclate .srctranwrap {
      background-color: #fff;
      padding: 1em 1.5em;
      box-shadow: 5px 5px 10px -1px #999; }
/* line 1067, ../sass/base/amboyna.scss */
.node-type-source .view-source-ind .srccit {
  margin: 2em 0; }
  /* line 1069, ../sass/base/amboyna.scss */
  .node-type-source .view-source-ind .srccit p {
    color: #515151;
    margin-top: 0; }
/* line 1074, ../sass/base/amboyna.scss */
.node-type-source .view-source-ind .srcrelated {
  text-align: center; }
  /* line 1076, ../sass/base/amboyna.scss */
  .node-type-source .view-source-ind .srcrelated article {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    margin: 1em 0.5em; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 1076, ../sass/base/amboyna.scss */
      .node-type-source .view-source-ind .srcrelated article {
        width: 100%;
        margin: 1em 0; } }
    @media (min-width: 661px) and (max-width: 1024px) {
      /* line 1076, ../sass/base/amboyna.scss */
      .node-type-source .view-source-ind .srcrelated article {
        margin: 1em 0.8em;
        font-size: 0.9em; } }
    /* line 1089, ../sass/base/amboyna.scss */
    .node-type-source .view-source-ind .srcrelated article header h2 {
      border: none;
      font-size: 1em;
      line-height: 1.25;
      text-transform: none;
      letter-spacing: 0;
      font-weight: 500; }
    /* line 1097, ../sass/base/amboyna.scss */
    .node-type-source .view-source-ind .srcrelated article footer, .node-type-source .view-source-ind .srcrelated article .node-readmore, .node-type-source .view-source-ind .srcrelated article .node__content .field__label, .node-type-source .view-source-ind .srcrelated article .field--name-field-exhibit-analysis {
      display: none; }

/* line 1107, ../sass/base/amboyna.scss */
.node-type-timeline .l-main .l-content {
  padding-bottom: 5em; }
/* line 1110, ../sass/base/amboyna.scss */
.node-type-timeline .view-filters {
  display: none;
  text-align: left; }
  /* line 1113, ../sass/base/amboyna.scss */
  .node-type-timeline .view-filters:before {
    content: "Explore by";
    margin: 0.3em 0;
    font-size: 1.2em;
    font-weight: 400;
    font-family: Garamond, Georgia, Berkeley, serif; }
  /* line 1120, ../sass/base/amboyna.scss */
  .node-type-timeline .view-filters .views-exposed-form .views-exposed-widget {
    float: none;
    clear: both;
    display: inline-block;
    text-align: left; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 1120, ../sass/base/amboyna.scss */
      .node-type-timeline .view-filters .views-exposed-form .views-exposed-widget {
        display: block;
        width: 100%;
        padding: 0.5em 0.3em; } }
    /* line 1131, ../sass/base/amboyna.scss */
    .node-type-timeline .view-filters .views-exposed-form .views-exposed-widget .form-type-textfield input {
      padding: 0.3em 0.5em; }
      @media (min-width: 1px) and (max-width: 660px) {
        /* line 1131, ../sass/base/amboyna.scss */
        .node-type-timeline .view-filters .views-exposed-form .views-exposed-widget .form-type-textfield input {
          width: 100%; } }
    /* line 1138, ../sass/base/amboyna.scss */
    .node-type-timeline .view-filters .views-exposed-form .views-exposed-widget .form-type-select {
      position: relative;
      display: block;
      width: 100% !important;
      margin-top: 0 !important; }
      /* line 1143, ../sass/base/amboyna.scss */
      .node-type-timeline .view-filters .views-exposed-form .views-exposed-widget .form-type-select select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        background-color: #003049;
        color: #fff;
        padding: 0.3em 1em 0.3em 0.5em;
        border: 0.3em solid #fff; }
        /* line 1152, ../sass/base/amboyna.scss */
        .node-type-timeline .view-filters .views-exposed-form .views-exposed-widget .form-type-select select:hover {
          border: 0.3em solid #003049;
          background-color: #fff;
          color: #003049; }
      /* line 1158, ../sass/base/amboyna.scss */
      .node-type-timeline .view-filters .views-exposed-form .views-exposed-widget .form-type-select select::-ms-expand {
        display: none; }
/* line 1164, ../sass/base/amboyna.scss */
.node-type-timeline .view-content {
  position: relative;
  margin: 0; }
  /* line 1167, ../sass/base/amboyna.scss */
  .node-type-timeline .view-content:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    width: 0.2em;
    background: #b2b2b2;
    transform: translateX(-50%); }
  /* line 1178, ../sass/base/amboyna.scss */
  .node-type-timeline .view-content .views-row {
    clear: both; }
  /* line 1181, ../sass/base/amboyna.scss */
  .node-type-timeline .view-content .itemwrap {
    margin: 2em 0;
    position: relative; }
    /* line 1184, ../sass/base/amboyna.scss */
    .node-type-timeline .view-content .itemwrap .datespecial {
      width: 45%;
      text-transform: uppercase;
      color: #b21943;
      font-size: 1.3em;
      vertical-align: top; }
    /* line 1191, ../sass/base/amboyna.scss */
    .node-type-timeline .view-content .itemwrap .detailwrap {
      vertical-align: top;
      width: 45%;
      background-color: #f2f2f2;
      border: 0.2em solid #b21943;
      padding: 1em;
      text-align: left; }
      /* line 1198, ../sass/base/amboyna.scss */
      .node-type-timeline .view-content .itemwrap .detailwrap .srcimg {
        display: inline-block;
        vertical-align: top;
        width: 45%;
        margin: 0 1em; }
        /* line 1203, ../sass/base/amboyna.scss */
        .node-type-timeline .view-content .itemwrap .detailwrap .srcimg img {
          box-shadow: 5px 5px 10px -1px #999; }
        /* line 1206, ../sass/base/amboyna.scss */
        .node-type-timeline .view-content .itemwrap .detailwrap .srcimg header, .node-type-timeline .view-content .itemwrap .detailwrap .srcimg footer, .node-type-timeline .view-content .itemwrap .detailwrap .srcimg .field__label, .node-type-timeline .view-content .itemwrap .detailwrap .srcimg .links, .node-type-timeline .view-content .itemwrap .detailwrap .srcimg .field--name-field-exhibit-analysis {
          display: none; }
      /* line 1210, ../sass/base/amboyna.scss */
      .node-type-timeline .view-content .itemwrap .detailwrap .text {
        display: inline-block;
        vertical-align: top;
        width: 45%; }
  /* line 1218, ../sass/base/amboyna.scss */
  .node-type-timeline .view-content .views-row-odd .datespecial {
    float: right; }
    /* line 1220, ../sass/base/amboyna.scss */
    .node-type-timeline .view-content .views-row-odd .datespecial:before {
      content: '';
      position: absolute;
      z-index: 3;
      width: 1.5em;
      height: 1.5em;
      background: url("../images/timeline-circle.png") no-repeat scroll left top;
      background-size: cover;
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
  /* line 1234, ../sass/base/amboyna.scss */
  .node-type-timeline .view-content .views-row-even {
    text-align: right; }
    /* line 1236, ../sass/base/amboyna.scss */
    .node-type-timeline .view-content .views-row-even .detailwrap {
      float: right;
      margin: -2em 0 2em; }
    /* line 1241, ../sass/base/amboyna.scss */
    .node-type-timeline .view-content .views-row-even .datespecial:after {
      content: '';
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      z-index: 3;
      background: url("../images/timeline-circle.png") no-repeat scroll left top;
      background-size: cover;
      top: 0;
      left: 50%;
      transform: translateX(-50%); }

/* line 1264, ../sass/base/amboyna.scss */
.page-node-2 p {
  display: inline-block; }
  /* line 1266, ../sass/base/amboyna.scss */
  .page-node-2 p .logoleft {
    float: left;
    clear: both;
    max-width: 200px;
    margin-right: 2em; }

/* line 1277, ../sass/base/amboyna.scss */
.page-node-529 .node__submitted {
  display: none; }
/* line 1281, ../sass/base/amboyna.scss */
.page-node-529 .webform-client-form-529 .form-item {
  width: 41%;
  display: inline-block; }
  @media (min-width: 1px) and (max-width: 660px) {
    /* line 1281, ../sass/base/amboyna.scss */
    .page-node-529 .webform-client-form-529 .form-item {
      width: 82%; } }
  /* line 1287, ../sass/base/amboyna.scss */
  .page-node-529 .webform-client-form-529 .form-item input {
    width: 100%; }
/* line 1291, ../sass/base/amboyna.scss */
.page-node-529 .webform-client-form-529 .webform-component--comment, .page-node-529 .webform-client-form-529 .webform-component--subject {
  display: block;
  width: 82%; }
/* line 1295, ../sass/base/amboyna.scss */
.page-node-529 .webform-client-form-529 .captcha {
  border: none;
  margin: 0;
  padding: 0; }
  /* line 1299, ../sass/base/amboyna.scss */
  .page-node-529 .webform-client-form-529 .captcha legend {
    font-weight: bold; }

/* line 1308, ../sass/base/amboyna.scss */
.page-node-552 .field--name-field-pdf {
  display: none; }
/* line 1311, ../sass/base/amboyna.scss */
.page-node-552 h3, .page-node-552 label {
  margin: 0.3em 0;
  font-weight: 400;
  font-family: Garamond, Georgia, Berkeley, serif;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #003049;
  letter-spacing: 1px; }
/* line 1320, ../sass/base/amboyna.scss */
.page-node-552 .allpacket {
  text-align: center; }
  /* line 1322, ../sass/base/amboyna.scss */
  .page-node-552 .allpacket .packetwrap {
    padding: 1em;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 4px 4px 6px #b2b2b2;
    margin: 1em 0.8em; }
    @media (min-width: 1px) and (max-width: 660px) {
      /* line 1322, ../sass/base/amboyna.scss */
      .page-node-552 .allpacket .packetwrap {
        width: 100%;
        margin: 1em 0; } }
    @media (min-width: 661px) and (max-width: 1024px) {
      /* line 1322, ../sass/base/amboyna.scss */
      .page-node-552 .allpacket .packetwrap {
        width: 45%;
        margin: 1em 0.5em; } }
    /* line 1338, ../sass/base/amboyna.scss */
    .page-node-552 .allpacket .packetwrap .packettit {
      font-size: 1.2em;
      margin: 0 0 0.5em;
      color: #003049; }
      @media (min-width: 661px) and (max-width: 1024px) {
        /* line 1338, ../sass/base/amboyna.scss */
        .page-node-552 .allpacket .packetwrap .packettit {
          font-size: 1.1em; } }
    /* line 1346, ../sass/base/amboyna.scss */
    .page-node-552 .allpacket .packetwrap .wrapthis {
      margin: 0.8em 0; }
      /* line 1348, ../sass/base/amboyna.scss */
      .page-node-552 .allpacket .packetwrap .wrapthis .instruction {
        width: auto; }

/*# sourceMappingURL=amboyna.styles.css.map */
