/* == Imported Stylesheets ============ */

@import url("tour.css");
@import url("forum.css");
@import url("item-show.css");


/* == Generic styles ================== */
body {font: 62.5% Verdana,Arial, Helvetica, sans-serif; color: #444; margin: 0; padding: 0;}
li * {font-size: 1em;}
/* Headings */
h1,h2,h3,h4,h5,h6 {font-weight:normal;}

/* Links */
a:link {color: #DB6C22;}
a:visited {color: #DB6C22;}
a:hover, a:active {color: #402f27;}
a img {border: none;}

/* Miscellaneous elements */
abbr,acronym {border:none; font-style:normal;}
hr {visibility: hidden;}
object {background:#fff; margin:0; padding:0;}

dl {}
dt {font-style:italic; line-height:1.75em;}
dd {margin-left:0;line-height:1.75em;}

/* Forms */
legend {margin: 0; padding: 0; font-size: 1.4em;}
fieldset {border: none;}
label, input {display: block;}
.textinput {background: #eee; border:1px solid #999;}
.textinput:focus {background: #fff;}
input.checkbox {display:inline;}

/* Global classes */
.hide {display:block; width:0; height:0; text-indent:-1000em; overflow:hidden;}
.clear {clear:both;}

.footnote {vertical-align:super; line-height:0; font-size: 0.9em;}
.footnote a {text-decoration:none; padding: 1px 2px;}
.footnote a:link, .footnote a:visited {background: #fff09e; color: #c60;}
.footnote a:hover, .footnote a:active {background: #fff; color: #c60;}

/* Padding div styles */
div.padding { width: 780px; display:block; margin:0 auto;overflow: hidden;}

/* Thumbnail floating classes -- left or right */
.left {display:block; float:left; margin-right:1em; margin-bottom:1em;}
.right {display:block; float:right; margin-left:1em; margin-bottom:1em; padding:4px; border:1px solid #ccc;}

/* Generic navigation styles - basically makes a horizontal list of links in a unordered/ordered list, and takes away underlining of the links. */
.navigation {list-style: none; margin-left: 0; padding-left: 0;}
.navigation li {display: inline;}
.navigation a {text-decoration: none;}

/* Various Microformats styles */
.vcard div {line-height:1.5em;}
.org span, .adr .street-address {display:block;}

/* Resources list styles - styles for the resources on various pages throughout the site. */
#resource-list {padding-left:2em; padding-right:2em;}
	dl.resource-list {display:block; overflow:hidden; border-bottom: 1px solid #c60; padding: 0 0 1em;}
		.resource-list dt {display:block; float:left; width: 220px; font-weight:bold;}
			.resource-list dt a {text-decoration:none;}
	
		.resource-list dd {display:block; float:right;width: 440px; line-height:1.75em;}
			.resource-list dt span {display:block; margin-bottom:1em;}

/* Pagination nav - Specifically used on the tours, but can be used anywhere that "next" or "previous"  pagination links are needed. */
.pagination-nav {list-style:none; padding-left:0;overflow:hidden;margin-left:20px; margin-top:20px;margin-right:20px;}
.pagelink a{text-decoration:none;}
.previous{float:left;}
.next {float:right;}

/* Various Logos 
-----------------------------------------*/
#si-logo {
	display:block;
	background-image:url("../i/logos/mahlogo.gif");
	background-repeat:no-repeat;
	overflow:hidden;
	background-position: center center;
	width: 289px;
	padding: 90px 0 0 0;
	height:0 !important;
	height /**/: 90px;
	margin-left: 20px;
	float:left;
	}

#chnm-logo {
	display:block;
	background-image:url("../i/logos/RR-CHNM-logo-web-200w.png");
	background-repeat:no-repeat;
	background-color: #fff09e;
	overflow:hidden;
	background-position: center center;
	width: 200px;
	padding: 90px 0 0 0;
	height:0 !important;
	height /**/: 90px;
	float:right;
	margin-right: 20px;
	}
	
/* == Header styles ==================== */
#header {font-size: 1.3em;}
#header {display:block; font-family: "Gill Sans",Verdana, sans-serif; background: #37577e url("../i/header.gif") 50% 0 repeat-y;}
/*#teachers #header {
    background-image: url("../i/header-orange.gif");
}*/
	#header a {text-decoration: none;}
	
	/* Section title - the title and thumbnail in the header for each specific object */
	#section-title {display:block; 
		float:right;width:340px; 
		vertical-align:center;
		background-position:top right; 
		background-repeat:no-repeat; 
		background-color:transparent; 
		margin-right:20px;
		overflow:hidden;
		padding: 100px 0 0 0;
		height:0 !important;
		height /**/: 100px;
		float:right;
	}
	.votingmachine {background-image: url("../i/objects/votingmachine-header.gif");}
	.dress {background-image:url("../i/objects/dress-header.gif");}
	.desk {background-image:url("../i/objects/desk-header.gif");}
	.shorthandledhoe {background-image:url("../i/objects/hoe-header.gif");}
	.goldnugget {background-image:url("../i/objects/goldnugget-header.gif");}
	.lunchcounter {background-image:url("../i/objects/lunchcounter-header.gif");}
	
	.teaching-votingmachine {background-image: url("../i/objects/teaching-voting-header.gif");}
	.teaching-dress {background-image:url("../i/objects/teaching-dress-header.gif");}
	.teaching-desk {background-image:url("../i/objects/teaching-desk-header.gif");}
	.teaching-shorthandledhoe {background-image:url("../i/objects/teaching-hoe-header.gif");}
	.teaching-goldnugget {background-image:url("../i/objects/teaching-nugget-header.gif");}
	.teaching-lunchcounter {background-image:url("../i/objects/teaching-counter-header.gif");}
	.teaching-teacherhome {background-image:url("../i/objects/teaching-home-header.gif");}
	
	.activity-title {background-image:url("../i/activity-title.gif");}
	#guide #section-title {background-image:url("../i/guide/guide-title.gif");}
	#forum #section-title {background-image:url("../i/forum-title.gif");}
	
	#header div.padding {border-bottom:1em solid #96A6BB;}
	#home #header div.padding, #objects.index #header div.padding, #activity #header div.padding, #teachers.index #header div.padding {border-bottom:none;}
	
	/* OOH Logo */
 	#logo {display:block; float:left; margin: 20px 0 20px 10px; width: 350px; height: 114px; display:block;width: 410px; height: 138px;}
	/*#home #logo, #objects.index #logo, #activity.index #logo, #forum.index #logo, #guide #logo {width: 410px; height: 138px;}*/
	#logo a {
		display:block;
		background-image:url("../i/logos/oohlogo-sm.gif");
		background-repeat:no-repeat;
		overflow:hidden;
		width: 350px;
		padding: 124px 0 0 0;
		height:0 !important;
		height /**/: 124px;
		}
	#home #logo a, #objects.index #logo a, #activity.index #logo a, #forum.index #logo a, #guide #logo a, #logo a {
		background-image:url("../i/logos/oohlogofinal.gif");
		background-repeat:no-repeat;
		overflow:hidden;
		width: 410px;
		padding: 138px 0 0 0;
		height:0 !important;
		height /**/: 130px;
	}
	
	/* Site Navigation */
	#sitenav {display: block;float: right; text-align:right;width: 290px; text-align: right; padding: 0; overflow: hidden; margin: 20px 20px 0 0;}
	#sitenav li { margin-left: 10px; display:inline-block; float:left;}
	#sitenav a {text-decoration:none; padding: 4px 8px; color: #fff; display:block; text-align: center;}
	#sitenav a:link, #sitenav a:visited {background: #49668A;}
	#sitenav a:hover, #sitenav a:active {background: #6E85A1;}
	
	#home #sitenav .nav-home a,
	#about #sitenav .nav-about a,
	#objects #sitenav .nav-objects a,
	#guide #sitenav .nav-guide a,
	#teaching #sitenav .nav-teaching a,
	#chat #sitenav .nav-chat a {background: #6E85A1;}
	
	/* Secondary navigation */
	#secondarynav {clear: both; margin: 0; padding: 0 20px; text-align: right; float: right; }
	#secondarynav li {display: inline-block; float: left; margin: 0 1px 0 0; }
	#secondarynav a {color: #fff; text-decoration:none;display:block; margin:0; padding:10px; text-align:center;cursor:pointer;}
	#secondarynav a:link, #secondarynav a:visited {background:#DB6C22; background: #49668A;border-bottom:1px solid #37577e; color:#fff;}
	#secondarynav a:hover, #secondarynav a:active {background: #E2874A; background: #6E85A1;border-bottom:1px solid #37577e; color:#fff;}
	#secondarynav a.current:link, #secondarynav a.current:visited, #secondarynav a.current:hover, #secondarynav a.current:active {background: #96A6BB; color:#fff;border-bottom:1px solid #96A6BB;}	
	
	/* Teacher Materials banner */
	#teachermaterials a {display:block;  font-size: 1em;float: right;text-align:center;width: 15em; background: #fff09e; color: #fff; margin: 60px 10px 20px; padding: 10px; font-size: 1.25em; text-decoration:none;}
	#teachermaterials a:link, #teachermaterials a:visited {text-decoration:none; background: #DB6C22;}
	#teachermaterials a:hover, #teachermaterials a:active {text-decoration:none; background: #96A6BB;}
	
/* == Content styles =================== */
#content {font-size: 1.25em; background: #fff url("../i/tile-white.gif") 50% 0 repeat-y;}	
	#primary,#secondary {padding:0 20px 0; display:block;}
	#home #primary, #home #secondary, #teachers.index #primary, #teachers.index #secondary {padding:0;}
		#primary p, #primary ul, #primary ol {line-height:2.05em;}
		#description {float:right; width: 350px; display:block;}
		#items {float:left; width: 350px; display:block; margin-top: 20px;}
		
	#introduction {display: block; float: left; width: 210px; margin-top:2px;}
	#movie {display: block; float: right; width: 500px; text-align: center; margin-top:10px;margin-bottom:10px;}
	
	/* Object Navigation - the list of objects */
	.objectsnav {display:block; float:left; width: 780px; list-style: none;margin:0 0 10px;padding: 0; text-indent: 0;}
	.objectsnav li {margin: 0; padding: 0; text-indent: 0;}
	li.object { width: 130px; display: block;float: left;}
	li.object a:link, li.object a:visited {width: 130px; display:block; text-decoration:none; color: #fff; text-align:center;float:left; padding-top: 140px; padding-bottom: 10px;background-color:#0a2c48; background-color: #d86b31; font-family: "Gill Sans",Verdana, sans-serif; background-repeat: no-repeat; background-position:top left; }
	li.object a:hover, li.object a:active {background-position:top right; background-color: #d6740b; background-color: #6E85A1;color: #fff;}
	
	/* Specific Objects */
	li.object a#nav-hoe {background-image:url("../i/nav/shhoe_new.gif");}
	li.object a#nav-goldnugget {background-image:url("../i/nav/goldnugget_new.gif");}
	li.object a#nav-ballotbox {background-image:url("../i/nav/votingmachine_new.gif");}
	li.object a#nav-desk {background-image:url("../i/nav/desk_new.gif");}
	li.object a#nav-dress {background-image:url("../i/nav/lincoln_keckelydress_new.gif");}
	li.object a#nav-lunchcounter {background-image:url("../i/nav/lunchcounter_new.gif");}
	
	/* Turns off styling for non-active object collections 

	li.object a#nav-dress:hover,
	li.object a#nav-ballotbox:hover {background-position:top left; background-color:#d86b31; cursor:auto;}*/
	
	
	/* Section styles */
	.section {display:block; float:left; width: 175px; margin: 0 10px 1em; padding: 0;background-repeat: no-repeat;background-position: 10px 10px;}
	.section a {display: block;text-decoration: none; background-position: 10px 10px; background-repeat:no-repeat;}
	.section span {margin: 10px 10px 10px 40px; display: block;line-height: 1.4em; color: #000;}
	.section em {text-transform:uppercase;font-style:normal;}
	.section a:link, .section a:visited {background-color: #FFF09E;}
	.section a:hover, .section a:active {background-color: #CAD3DD;}
	
	.one a, .one {background-image:url("../i/number1.gif");}
	.two a{background-image:url("../i/number2.gif");}
	.three a{background-image:url("../i/number3.gif");}
	.four a{background-image:url("../i/number4.gif");}
	
	#site-news {clear:both; display:block; margin: 0 20px;}
		#site-news h3 {}
		#site-news p {line-height:1.75em;}
		
		
	/* Objects page styles */
	#content ul.sectionnav {margin:0;} /* Resets margin to 0 */
	.sectionnav {list-style: none; font-family: "Gill Sans",Futura,Verdana, Arial, sans-serif;font-size: 1.35em; padding: 0 1em 0; overflow: hidden; background: #96A6BB;}
	.sectionnav li {display: inline-block; float: left;}
	.sectionnav a:link, .sectionnav a:visited {text-decoration: none; display:block; padding:10px; color: #fff;}
	
	.onyourown .sectionnav .nav-onyourown a,
	.intro .sectionnav .nav-history a,
	.context .sectionnav .nav-context a,
	.history .sectionnav .nav-history a,
	.explore .sectionnav .nav-object a,
	.museum .sectionnav .nav-museum a,
	.brieftour .sectionnav .nav-tour a,
	.tour .sectionnav .nav-tour a,
	.extendedtour .sectionnav .nav-extendedtour a
	{background: #fff; color:#333;}
	
	/* Item Lists in Explore section */
	ul.item-list { display:block; float:left; width: 360px; margin:0; padding:0;}
	ul.item-list li {display:block; float:left; width: 80px; height: 80px; margin: 0 5px 5px 0; color: #c06812;}
	ul.item-list img {height: 70px; width: 70px;display: block;  border:5px solid #c60;background: #fff;}
	
	#primary.item-show {display:block; float:right; width:560px;}
	#item-list {display:block; float:left; width: 140px;margin-left:2em;}
	
	/** Object Tour styles **/

	/* Guide styles */
	#guide #content #primary {display:block; float:right; width:560px;}
	#guide #content #secondary {display:block; float:left; width: 140px;}
		
	.essaynav {text-align:left; border-top:1px solid #ccc; margin-top:1.75em;}
	.essaynav li {display:block; font-size:1.25em;}
	.essaynav a {border-bottom:1px solid #ccc; display:block; padding:0.5em 0;}
	.essaynav a:link, .essaynav a:visited {color:#777;}
	.essaynav a:hover, .essaynav a:active {color:#333;}
	
	.index .essaynav .nav-intro a,
	.stories .essaynav .nav-stories a,
	.connections .essaynav .nav-connections a,
	.meanings .essaynav .nav-meanings a,
	.moments .essaynav .nav-moments a,
	.changes .essaynav .nav-changes a,
	.conclusion .essaynav .nav-conclusion a
	{
		color:#c60;
	}
	
	/** Guide styles **/
	#footnotes {border-top:1px solid #ccc;}
		#footnotes p {margin: 0.5em 0; font-size:0.9em;}
	
	/** Activity styles **/

	/** Teacher section styles **/
	
	#lessonplan {display:block; float:right; width: 520px;}
	#lessonplan-nav {display:block; float:left; width: 180px;}
		#lessonplan-nav ul {list-style:none; margin-left:0; padding-left:0; text-align:left; border-top:1px solid #ccc; margin-top:1.75em;}
			#lessonplan-nav ul li {display:block; font-size:1.25em;}
			#lessonplan-nav ul a {border-bottom:1px solid #ccc; display:block; text-decoration:none;padding:0.5em 0;}
			#lessonplan-nav ul a:link, .essaynav a:visited {color:#c60;}
			#lessonplan-nav ul a:hover, .essaynav a:active {color:#333;}
			#lessonplan-nav a.current {color: #49668A;}
			
	div.preliminary-activity {background: #fff09e; padding:5px 20px;margin-bottom:20px;}
	div.preliminary-activity ul {margin-left:14px; padding-left:0;}
	
	/** About styles **/
	#signuplinks {list-style:none; padding:0; margin:0; margin-left:1em; width:15em; display:block; text-align:center;float:right;}
	#signuplinks li {}
	#signuplinks a {text-decoration:none;display:block;border-bottom:1px solid #fff;padding:0.5em;background: #fff09e; font-size:1.35em;}
	
	#about.about h3 {float:left; width: 140px;}
	#about.about ul.listing, #about.about .vcard {width: 550px;float:right; margin-left:0; padding-left:0;list-style:none;}
	.listing li {margin:0.5em 0;}
	#about.about .clear {clear:both;visibility:visible; height:1px; border:none; border-bottom:1px solid #eee;}
	
/* == Footer styles ====================== */
#sponsors {font-size: 1.2em;display:block; width:100%; color: #fff; background: #fff09e url("../i/footer.gif") center bottom no-repeat; padding-bottom: 20px;color: #333; overflow: hidden;}
#footer {font-size:1.2em;}
	/* Footer navigation styles */
	#footer .navigation {display:block; float:right; width: 760px; padding-right: 20px; padding-top: 0; padding-bottom: 10px; text-align:right; background: #fff; margin-top:0;}
	#footer .navigation li {margin-left: 6px;}
	#home #footer .nav-home a,
	#about #footer .nav-about a,
	#teaching #footer .nav-teachers a { font-weight:bold; color: #333; }
