{{ define "bodyclass" }}page home{{ end }}
{{ define "main" }}
<div class="blocks">
    <h2>Home</h2>

    <div class="intro">
        <h2>The War Department office was established in 1790. It burned in 1800.</h2>
        <p>For decades historians believed that its files, and the window they provide into the early federal government, had been lost forever. This collection unites copies of the lost files in a digital archive that reconstitutes this invaluable historical resource.</p>
        <p><a class="yellow button" href="/document/">Explore the collection</a></p>
    </div>

    <div class="transcribe">
        <p>Our community of transcribers worked to create full text transcriptions of every possible document in the collection.</p>
    </div>
</div>
{{ end }}
